body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
    margin: 0;
    padding: 0;
}

.container {
    max-width: 800px;
    margin: 10px auto;
    background: #fff;
    padding: 20px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    border-radius: 8px;
}

h1 {
    text-align: center;
    color: #333;
}

.task-input {
    display: flex;
    justify-content: space-between;
    margin-bottom: 20px;
}

.task-input input {
    width: 70%;
    padding: 10px;
    font-size: 16px;
    border: 1px solid #ddd;
    border-radius: 4px;
}

.task-input button {
    padding: 10px 15px;
    font-size: 16px;
    background-color: #28a745;
    color: white;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.task-input button:hover {
    background-color: #218838;
}

.task-filter input{
    display:flex;
    justify-content: space-between;
    margin: 20px auto;

}
.task-filter,
.task-report {
    text-align: center;
    margin-bottom: 20px;
}

.task-filter button,
.task-report button {
    padding: 10px 15px;
    font-size: 16px;
    background-color: #007bff;
    color: white;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    transition: background-color 0.3s ease;
    margin: 0 5px;
}

.task-filter button:hover,
.task-report button:hover {
    background-color: #0056b3;
}

.task-list ul {
    list-style-type: none;
    padding: 0;
}

.task-list li {
    background: #fff;
    padding: 10px;
    margin-bottom: 5px;
    border: 1px solid #ddd;
    border-radius: 4px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.task-list li.completed {
    text-decoration: line-through;
    background-color: #d4edda;
}

.task-list button {
    background-color: #dc3545;
    color: white;
    border: none;
    border-radius: 4px;
    padding: 5px 10px;
    transition: background-color 0.3s ease;
}

.task-list button.complete {
    background-color: #28a745;
}

.task-list button:hover {
    background-color: #c82333;
}

.task-list button.complete:hover {
    background-color: #218838;
}

#taskReport p {
    margin: 5px 0;
    font-size: 16px;
    color: #333;
}

.clock {
    padding: 10px 5px;
    max-width: 300px;
    margin: 10px auto;
    background: #fff;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    border-radius: 50px;
}

#current-time {
    display: flex;
    justify-content: center;
    font-size: 20px;
}

#current-date {
    display: flex;
    justify-content: center;
    font-size: 20px;
}